*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carrossel{
    width: 100vw;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.carrossel button{
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff57;
    border: none;
}
.carrossel button:nth-child(1){
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 40px 0px 0px 40px;
}
.carrossel button:nth-child(2){
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 0px 40px 40px 0px;
}
.carrossel button i{
    font-size: 20px;
    color: #fff;
}
.carrossel .imagens{
    display: flex;
    width: 300vw;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.carrossel .imagens .img{
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.carrossel .imagens .img:nth-child(1){
    background-image: url(./img/banner-1.jpg);
}
.carrossel .imagens .img:nth-child(2){
    background-image: url(./img/banner-2.jpg);
}
.carrossel .imagens .img:nth-child(3){
    background-image: url(./img/banner-3.jpg);
}
.carrossel .controls {
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.carrossel .controls input[type="radio"] {
    width: 15px;
    height: 15px;
    appearance: none;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.carrossel .controls input[type="radio"]:checked {
    background-color: #fff;
}